html { height: 100%; /* width: 1336px; */ }
body { height: 100%; font-family: Helvetica, Arial, Microsoft Yahei, sans-serif; font-size: 14px; color: #27292C; }

.fl { float:left; }
.fr { float: right; }

.clearfix:after{ content:""; display:table; clear:both; }
.clear { clear: both; }
img { width: 100%; height: auto; }
a{ text-decoration: none; color: inherit; display:block; }
label { cursor: pointer; user-select: none; }
.iconfont { vertical-align: middle; }

.col40{ width: 40% }
.col60{ width: 60% }

.btn { line-height: 26px; color: #fff; text-align: center; background-color: #135189; border-radius: 3px; }

/* .page-width {  margin: 0 auto; } */
.page-wrapper { min-width: 980px; height: 100%; }
.page-left { width: 200px; height: 100%; background-color: #135189; }
.page-right { margin-left: 200px;}
.page-header .logo { }

.login-container { position: fixed; right: 0; bottom: 50%; left: 0; width: 621px; height: 210px; margin: auto; }
.login-container .login-left { width: 311px; }
.login-container .login-right { box-sizing: border-box; width: 310px; padding-left: 45px; }
.login-container .form-title h2 { font-size: 18px; line-height: 25px; color: #27292C; }
.login-container .login-form .entry { margin-top: 12px; }
.login-container .login-form .label { font-size: 16px; line-height: 30px; color: #27292C; }
.login-container .login-form input { box-sizing: border-box; width: 200px; padding: 0 10px; line-height: 26px; }
.login-container .login-form .checkbox { width: 20px; height: 20px; margin: 0 0 0 65px; }
.login-container .login-form label { font-size: 14px; vertical-align: super; }
.login-container .login-form .link { font-size: 14px; line-height: 20px; color: #F19919; }
.login-container .login-form .btn-submit { width: 100px; margin: 20px 0 0 65px; line-height: 36px; }

.reset-header { background-color: #EDEDED; border-bottom: 1px solid #E5E3E3; }
.reset-header .container { width: 1000px; height: 79px; margin: 0 auto; }
.reset-header h1 { padding-left: 20px; font-size: 20px; line-height: 79px; /* font-weight: bold; */ }
.reset-header .pop-login { font-size: 20px; line-height: 79px; font-weight: bold;  color: #044671; }
.reset-sub-title { border-bottom: 1px solid #E5E3E3; }
.reset-sub-title .container { width: 1000px; height: 49px; margin: 0 auto; }
.reset-sub-title h2 { padding-left: 88px; font-size: 16px; font-weight: bold; line-height: 49px; color: #27292C; }
.reset-main { box-sizing: border-box; width: 1000px; padding-left: 88px; margin: 0 auto; }
.reset-main .tag-list { width: 660px; margin-top: 40px; margin-bottom: 30px; overflow: hidden; }
.reset-main .tag-list li { float: left; position: relative; width: 220px; }
.reset-main .tag-list a { padding-left: 30px; font-weight: bold; line-height: 40px; background-color: #EDEDED; }
.reset-main .tag-list a.active { color: #125189; background-color: #81BFF7; }
.reset-main .tag-list a:after { position: absolute; z-index: 1; right: -28px; border-style: solid; border-width: 20px 14px; border-color: transparent transparent transparent #EDEDED; content: ""; }
.reset-main .tag-list a.active:after { border-color: transparent transparent transparent #81BFF7; }
.reset-main .tag-list i { display: inline-block; width: 24px; margin-right: 5px; line-height: 24px; text-align: center; color: #fff; background-color: #7D7F7F; border-radius: 24px; }
.reset-main .tag-list a.active i { background-color: #125189;  }

.reset-main .tag-cont { display: none; }
.reset-main .tag-cont.active { display: block; }

.reset-main .form-holder .entry { margin-bottom: 20px; }
.reset-main .form-holder .error-info { padding-left: 15px; color: #E50012; }
.reset-main .form-holder input { padding: 0 10px; line-height: 40px; font-size: 16px; }
.reset-main .form-holder .ipt-phone { width: 360px; }
.reset-main .btn-submit { width: 350px; line-height: 40px; }

.reset-main .tag-cont .tip { font-size: 16px; line-height: 24px; }
.reset-main h3 { margin-bottom: 22px; font-size: 18px; line-height: 25px; font-weight: bold; color: #27292C; }
.reset-main .info-box { margin: 22px 0; }
.reset-main .info-box p { font-size: 16px; line-height: 23px; color: #7D7F7F; }

#step-3 .entry { line-height: 40px; }
#step-3 .entry label { box-sizing: border-box; width: 100px; padding-right: 20px; font-size: 16px;  text-align: right; }
#step-3 .btn-set { margin-left: 100px; }

.main-nav li { border-bottom: 1px solid #0B4171; }
.main-nav li a { display: block; padding-left: 20px; font-size: 16px; line-height: 49px; color: #fff; text-align: left; } 
.main-nav li a.active { position: relative; background-color: #0B4171; }
.main-nav li a.active:after { position: absolute; top: 20px; right: 0; border: 6px solid #fff; border-color: transparent #fff transparent transparent; content: ""; }
.main-nav li .iconfont { margin-right: 10px; }

.main-menu { box-sizing: border-box; height: 50px; padding: 0 10px; background-color: #eee; line-height: 49px; color: #7D7F7F; border-bottom: 1px solid #E5E3E3; }
.main-menu .translate a { color: #7D7F7F; font-weight: bold; }

.main-menu .user { position: relative; }
.main-menu .user > a { padding-right: 10px; margin-left: 30px; }
.main-menu .user .iconfont { font-size: 24px; vertical-align: middle; }
.main-menu .user .icon-user { margin-right: 8px; color: #484848; }
.main-menu .user .icon-down { margin-left: 10px; font-size: 14px; }

.main-menu .user .user-more { display: none; position: absolute; top: 54px; left: -44px; box-shadow: 0 0 5px 1px #ccc; }
.main-menu .user.active .user-more { display: block; }
.main-menu .user .user-more:after { position: absolute; top: -12px; right: 80px; border: 6px solid #fff; border-color: transparent transparent #0a4670 transparent; content: ""; }
.user-more .user-name { width: 172px; line-height: 60px; color:#fff; background-color: #0a4670; }
.user-more .user-name .icon-user { margin-left: 10px; font-size: 32px; color: #fff; }
.user-more li a { padding: 0 10px; line-height: 36px; color: #27292C; background-color: #fff; }
.user-more li a:hover { background-color: #eee; }

.main-menu .message { position: relative; }
.main-menu .message a { padding: 0 5px; }
.main-menu .message .iconfont { font-size: 20px; }
.main-menu .message .message-tip { position: absolute; top: 10px; right: -8px; width: 20px; font-size: 12px; line-height: 20px; text-align: center; color: #fff; background-color: #e60012; border-radius: 10px; }

.sub-menu { box-sizing: border-box; height: 50px; padding: 0 10px; background-color: #fff; line-height: 50px; border-bottom: 1px solid #E5E3E3; }

.other .toggle { width: 135px; }
.other .toggle a { float: left; margin: 12px 20px 0 0; line-height: 28px;  }
.other .toggle a.active { border-bottom: 3px solid #FDBC4F; }
.other .btn-set { margin: 9px 0; }
.other .btn-edit { padding: 0 21px; line-height: 32px; color: #fff; background-color: #E50011; border-radius: 3px; }
.other .btn-submit { padding: 0 21px; line-height: 32px; color: #fff; background-color: #2caa3f; border-radius: 3px; }
/* .other .btn-best { margin-right: 10px; line-height: 32px; } */
/* .other .btn-kind { margin-right: 10px; line-height: 32px; } */
.other .btn-recycling { line-height: 32px; }
.other .btn-recycling .iconfont { margin-right: 5px; font-size: 20px; }

.other .search-input { padding: 0 10px; margin: 10px 20px 0; line-height: 30px; border: 1px solid #ccc; }
.other .search-input input { padding-left: 10px; margin-left: 10px; border: none; border-left: 1px solid #aaa; }
.other .search-input .icon-search { font-size: 14px; line-height: 1em; color: #aaa; }
/* .other .search-input .icon-search: */
.main-body { padding: 0 10px; }

.pop-out { display: none; position: fixed; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.5); }
.pop-out.active { display: block; }
.pop-out .login-container { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 500px; height: 400px; background-color: #fff;  }
.pop-out .login-form { width: 270px; margin: 0 auto; }
.pop-out .login-form h2 { padding: 60px 0 33px; font-size: 24px; line-height: 36px; text-align: center; color: #27292C; }
.pop-out .login-form .entry { margin-top: 12px; }
.pop-out .login-form .label { font-size: 16px; line-height: 30px; color: #27292C; }
.pop-out .login-form input { box-sizing: border-box; width: 200px; padding: 0 10px; line-height: 26px; }
.pop-out .login-form .checkbox { width: 20px; height: 20px; margin: 0 0 0 65px; }
.pop-out .login-form label { font-size: 14px; vertical-align: super; }
.pop-out .login-form .btn-submit { width: 100px; margin: 20px 0 0 65px; line-height: 36px; }


.pop-out .card-edit { position: absolute; top: 0; right: 0; bottom: 0; left: 0; width: 720px; height: 540px; margin: auto; background-color: #fff; box-shadow: 0 0 6px 1px rgba(0,0,0,0.4); border-radius: 5px; overflow: hidden; }
.card-edit .box-title h2 { padding-left: 18px; font-size: 18px; line-height: 48px; color: #7C7F80; background-color: #EDEDED; border-bottom: 1px solid #D7D7D7; }
.card-edit .box-left { width: 140px; height: 491px; background-color: #EDEDED;  }
.card-edit .box-left a { padding-left: 18px; font-size: 16px; line-height: 44px; color: #27292C; border-bottom: 1px solid #D7D7D7;  }
.card-edit .box-left a.active { position: relative; background-color: #BDBFBF }
.card-edit .box-left a.active:after { position: absolute; top: 17px; right: 0; border: 6px solid #fff; border-color: transparent #fff transparent transparent; content: ""; }
.card-edit .box-right { margin-left: 155px;  }
.card-edit .box-right > div { display: none; }
.card-edit .box-right > div.active { display: block; }
.card-edit .box-right h3 { font-size: 16px; line-height: 45px; color: #7D7F7F; }
.card-edit .box-right .entry { font-size: 16px; line-height: 45px; color: #7D7F7F; }

.card-edit .box-right input { width: 200px; padding: 0 10px;  margin: 0 10px; font-size: 16px; line-height: 35px; }
.card-edit .box-right .ipt-name input { width: 320px; }
.card-edit .box-right .btn-set { width: 100px; margin: 25px 0 0 5px; }

.card-edit .box-right .btn-submit { line-height: 40px; }

.breadcrumb { font-weight: bold; }
.breadcrumb .iconfont { margin-right: 10px; line-height: 49px; font-weight: normal; vertical-align: inherit; }
.breadcrumb a { float: left; }
.breadcrumb a:after { content: ">"; margin: 0 2px; }
.breadcrumb a:last-child:after { content: ""; }

.center-list { padding: 115px 0 0 90px; }
.center-list li { float: left; width: 80px; margin: 0 205px 25px 0; }
.center-list li a { display: block; padding-top: 80px; line-height: 40px; text-align: center; background: url(../img/fc.png) no-repeat; }
.center-list li a:hover { color: #669 }
.center-list li:nth-of-type(2) a { background-position: -80px 0; }
.center-list li:nth-of-type(3) a { background-position: -160px 0; }
.center-list li:nth-of-type(4) a { background-position: -240px 0; }
.center-list li:nth-of-type(5) a { background-position: -320px 0; }
.center-list li:nth-of-type(6) a { background-position: -400px 0; }
.center-list li:nth-of-type(7) a { background-position: -480px 0; }

.family-card { position: relative; box-sizing: border-box; width: 640px; height: 414px; padding-top: 310px; margin-top: 10px; background-color: #fff; background-repeat: no-repeat; background-position: 0 0; border-radius: 5px; box-shadow: 0 0 1px 1px #ccc; }
.family-card .card-logo { position: absolute; bottom: 20px; left: 20px; width: 104px; padding: 4px; background-color: #fff; }
.family-card .card-info { padding-top: 17px; margin-left: 142px; }
.family-card .card-info h1 { font-size: 28px; line-height: 37px; color: #27292C; }
.family-card .card-info p { font-size: 20px; line-height: 28px; color: #7D7F7F; }

.family-summary {}

.common-table table { width: 100%; }
.common-table thead { background-color: #f8f8f8 }
.common-table .table-foot { padding: 11px 0; background-color: #f8f8f8; border: 1px solid #ccc; border-top: none; }
.common-table .table-foot .btn { display: inline-block; width: 80px; margin: 0 10px; }
.common-table .table-foot .right-cont { width: 50%; }
.common-table .table-foot .right-cont { width: 50%; margin-left: 50%; text-align: right; }
.common-table th,
.common-table td { padding: 16px 0; border: 1px solid #ccc; text-align: center; }
.common-table td a { display: inline-block; }
.common-table .link-edit { margin: 0 10px; color: #21AB38; }
.common-table .link-remove { margin: 0 10px; color: #E50012; }

.pagination { padding: 10px; }
.pagination > * { float: left; }
.pagination > a { padding: 0 6px; line-height: 18px; margin: 1px 2px; border: 1px solid #ccc; }
.pagination span { margin: 2px 8px; line-height: 20px; color: #aaa; }
.pagination .iconfont { font-size: 12px; color: #aaa; }
.pagination .page-jump { margin: 0; font-size: 12px; line-height: 24px; }
.pagination select { height: 22px; margin: 1px 0 ; }

.admin-set { margin-top: 15px; }
.admin-set h3 { font-size: 14px; font-weight: bold; }
.admin-set .add-form { height: 100px; }
.admin-set .add-form .entry { margin: 16px 0 26px; }
.admin-set .add-form input { margin: 0 20px; padding: 0 10px; line-height: 28px; }
.admin-set .add-form .btn-set { margin: 16px 0 26px; }
.admin-set .add-form .btn-add { width: 70px; line-height: 30px; background-color: #009943; }
.admin-list .list-title { margin-bottom: 20px; }
.admin-list li { padding: 10px 0; line-height: 26px; border-bottom: 1px solid #E5E3E3; }
.admin-list li .admin-name { display: inline-block; width: 60px; }
.admin-list li a { display: inline-block; width: 60px; margin-left: 20px; text-align: center; color: #fff; background-color: #E50011; }


footer { }